.htaccess
.DS_Store
.idea
/tmp/
/shared
/local-config.php
/local-config.php*
/production-config.php
backupbuddy_temp/
/sql-dump-*.sql
/db-sync
_notes/
wordfence-waf.php

##Custom Content Dir
/content/upgrade/
/content/plugins/debug-bar/
/content/plugins/developer/
/content/plugins/log-deprecated-notices/
/content/plugins/types/
/content/wflogs/
/content/wfcache/
/content/advanced-cache.php
/content/wp-cache-config.php
/content/cache/
/content/plugins/wordfence/tmp/

##Standard Content Dir
/wp-content/upgrade/
/wp-content/plugins/debug-bar/
/wp-content/plugins/developer/
/wp-content/plugins/log-deprecated-notices/
/wp-content/plugins/types/
/wp-content/wflogs/
/wp-content/wfcache/
/wp-content/advanced-cache.php
/wp-content/wp-cache-config.php
/wp-content/cache/
/wp-content/plugins/wordfence/tmp/