#sticky-container{
  margin-top: 0 !important;
}
.curtain-menu-open {
  header.header .top-bar-right .curtain-menu-button-toggle {
    .bar1 {
      transform: translateX(-50%) translateY(-50%) rotate(-45deg) !important;
    }

    .bar2 {
      transform: translateX(-50%) translateY(-50%) rotate(-135deg) !important;
    }
  }
}

header.header{
  margin-bottom: $global-margin/2;
  .top-bar{
    margin-right: 2px;
    z-index: 3;
    margin-top: 0 !important;
    .top-bar-left{
      ul.menu{
        li{
          a{
            display: block;
            position: relative;

            svg{
              height: 50px;
            }
            .hover-text{
              color: $primary-color;
              text-align: center;
              font-weight: bold;
              position: relative;
              top: 30px;
              left: -350px;
              bottom: 0;
              right: 0;
              display: block;
            }
          }
        }
      }
    }

    .top-bar-right{
      /*
      animated menu
       */
      $curtain-menu-color: $primary-color;
      $curtain-menu-text-color: $white;
      $curtain-menu-font-size: rem-calc(45);
      $curtain-menu-button-size: rem-calc(40);


      .curtain-menu-button {
        position: absolute;
        top: 1em;
        right: 1.25rem;
        z-index: 5;
      }

      .curtain-menu-button-toggle {
        width: $curtain-menu-button-size;
        height: $curtain-menu-button-size;
        border-radius: 5000px;
        background: $curtain-menu-text-color;
        position: relative;
        //box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        border: 2px solid $primary-color;


        div {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 16px;
          height: 3px;
          background: $curtain-menu-color;
          transition: transform 0.3s;
          transition-delay: 0.5s;
        }

        .bar1{
          transform: translateX(-50%) translateY(-50%) rotate(-90deg);
        }

        .bar2{
          transform: translateX(-50%) translateY(-50%) rotate(-180deg);
        }

        &:hover {
          background: $curtain-menu-color;

          div{
            background: $curtain-menu-text-color;
          }
        }

        &:active {
          box-shadow: none;
        }
      }

      //end
      ul.menu{
        position: absolute;
        top: 0;
        right: 0;
        li{
          a{
            font-weight: bold;
          }//a
        }//li
      }//ul.menu
    }//.top-bar-right


  }
}//header.header

.title-bar{
  .title-bar-title{
    svg{
      height: 50px;
    }
  }
}

#off-canvas-menu{
  padding-top: 5rem;
  padding-bottom: $global-padding/1.5;
  background: $white;
  //-webkit-box-shadow: none;
  //-moz-box-shadow: none;
  //box-shadow: none;
  border-bottom: 1px solid $light-gray;
  height: auto;

  .nav-close{
    position: absolute;
    right: 1rem;
    top: -$global-padding/2;
    cursor: pointer;
  }

  a:active, a:focus{
    outline: 0;
    border: none;
    -moz-outline-style: none
  }

  .grid-container{
    position: relative;
  }

  h6{
    font-family: 'Open Sans', sans-serif;
    color: #bbb;

    @include breakpoint ( small down ) {
      display: none;
    }

    //@media only screen and (min-device-width: 480px)
    //and (max-device-width: 820px)
    //and (orientation: landscape) {
    //  display: none;
    //}
  }

  .off-canvas-social{

    @include breakpoint ( small down ) {
      display: none;
    }

    //@media only screen and (min-device-width: 480px)
    //and (max-device-width: 820px)
    //and (orientation: landscape) {
    //
    //  display: none;
    //}

    a{
      padding: 0;
      line-height: 2;
    }
  }

  .off-canvas-nav{
    #menu-main-nav{
      li{


        a{
          font-size: 2rem;
          line-height: 2;
          font-family: 'Lora', serif;
          color: $black;
          padding: 0;

          &:hover{
            color: $medium-gray;
          }
        }
      }
      li.current_page_item a{
        background: none;
      }
    }
  }

  .off-canvas-journal{
    @include breakpoint ( small down ) {
      display: none;
    }

    //@media only screen and (min-device-width: 480px)
    //and (max-device-width: 820px)
    //and (orientation: landscape) {
    //
    //  display: none;
    //}

    .menu{
      margin-left: -15px;
      a{
      }
    }
  }

}
