//stop typekit from flashing fonts
.wf-loading{
  display: none;
}

/*
Image Hover
 */
.imghover{
  figure{
    overflow: hidden;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: $global-animation-time ease-in-out;
    transition: $global-animation-time ease-in-out;

    margin-bottom: $global-margin;

    &:hover{
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
    }

    img{
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: $global-animation-time ease-in-out;
      transition: $global-animation-time ease-in-out;

      &:hover{
        -webkit-transform: scale(1.08);
        transform: scale(1.08);
      }
    }
  }
}


/*
Titles with links next to them
 */
.link-to-side{
  h2{
    display: inline-block;
  }
  a{
    position: relative;
    top: -2px;
    margin-left: $global-margin/2;
    font-size: $global-font-size*1.25;
  }
}

/*
Social Links
 */
.social{
  a{
    font-size: 1.5em;
    span{
      display: none;
    }
  }
}