
body.home, body.page-contact{
  h1{
    font-size: 5rem;
    font-weight: bold;
  }
}


/*----------------------------------------------------------------------------------------------------------------------
ABOUT
----------------------------------------------------------------------------------------------------------------------*/
img.personalphoto{
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.resume{
  border-bottom: $border-width solid $primary-color;
  position: relative;

  a{
    position: absolute;
    right: -5px;
    bottom: -10px;
    display: block;
    padding: $global-padding;
    border: $border-width solid $white;
    background: $dark-gray;

    i{
      font-size: 1.8rem;
    }
  }
}

/*----------------------------------------------------------------------------------------------------------------------
Work
----------------------------------------------------------------------------------------------------------------------*/
.work{
  .cell{
    margin-bottom: $global-margin*2;
  }

  .hover{
    position: relative;
    
    &:hover{
      .overlay{
        display: inline-block;
      }
    }

    .logo{
      display: block;
      @include absolute-center();
      width: 250px;
      height: 125px;

      img{
        @include absolute-center();
      }
    }

    .workbox{
      //background: $dark-gray;
      height: 350px;
      display: block;
      padding: $global-padding;
      color: $white;
    }

    .overlay{
      padding: $global-padding;
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $primary-color;

    }
  }
}

/*----------------------------------------------------------------------------------------------------------------------
Journal
----------------------------------------------------------------------------------------------------------------------*/
.journal-post{
  margin-bottom: $global-margin;

  .journal-image{
    figure{
      overflow: hidden;
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: $global-animation-time ease-in-out;
      transition: $global-animation-time ease-in-out;

      margin-bottom: $global-margin;

      &:hover{
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
      }

      img{
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: $global-animation-time ease-in-out;
        transition: $global-animation-time ease-in-out;

        &:hover{
          -webkit-transform: scale(1.08);
          transform: scale(1.08);
        }
      }
    }
  }//.journal-image

  .summary{
    .time{
      color: $light-gray;
    }
    ul.menu{
      margin-bottom: $global-margin/2;
    }
  }//.summary
}//.journal-post

/*----------------------------------------------------------------------------------------------------------------------
WPFORMS
----------------------------------------------------------------------------------------------------------------------*/
.wpforms-container-full{
  .wpforms-submit{
    background: $dark-gray;
    color: $white;
  }
}

div.wpforms-container-full .wpforms-form input[type=date], div.wpforms-container-full .wpforms-form input[type=datetime], div.wpforms-container-full .wpforms-form input[type=datetime-local], div.wpforms-container-full .wpforms-form input[type=email], div.wpforms-container-full .wpforms-form input[type=month], div.wpforms-container-full .wpforms-form input[type=number], div.wpforms-container-full .wpforms-form input[type=password], div.wpforms-container-full .wpforms-form input[type=range], div.wpforms-container-full .wpforms-form input[type=search], div.wpforms-container-full .wpforms-form input[type=tel], div.wpforms-container-full .wpforms-form input[type=text], div.wpforms-container-full .wpforms-form input[type=time], div.wpforms-container-full .wpforms-form input[type=url], div.wpforms-container-full .wpforms-form input[type=week], div.wpforms-container-full .wpforms-form select, div.wpforms-container-full .wpforms-form textarea{
  border: 2px solid #707070 !important;
  border-radius: 0 !important;
  padding: $global-padding $global-padding !important;
}

